# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Michael Gasch
#	email = michael_gasch@live.com
[credential]
	helper = osxkeychain
[user]
	email = embano1@live.com
[core]
	pager = 
	editor = vim
[diff]
	tool = default-difftool
[difftool "default-difftool"]
	cmd = code --wait --diff $LOCAL $REMOTE
